body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* make the customizations */
$theme-colors: (
  "header-bg": #354a5f,
  "font-header": #e5e5e5,
  "font-header-active": #00ffff,
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
