/* Light */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter"), url("./assets/fonts/Inter-Light.otf");
}

/* Regular */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local("Inter"), url("./assets/fonts/Inter-Regular.otf");
}

/* Курсив light */
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: local("Inter"), url("./assets/fonts/Inter-LightItalic.otf");
}

/* Курсив regular */
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  src: local("Inter"), url("./assets/fonts/Inter-Italic.otf");
}

html,
body {
  font-family: "Inter", sans-serif;
}
